@model ProjectEacademy.Models.CreateGroupModels
@using Microsoft.AspNet.Identity
@using ProjectEacademy.Extension
@{
    ViewBag.Title = "CreateGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/customCSS.css" rel="stylesheet" />
@if (User.Identity.GetAccountType().Equals(0))
{
    Response.Redirect("~/Home");
}
<div class="margin-top card">
    <div class="card-header">
        <h2>Create New Class</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("CreateGroup", "Group", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("Error", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(g => g.ClassName, "Name" , new { @class = "h5" })
                @Html.TextBoxFor(g => g.ClassName, new { @class = "form-control", @placeholder = "Enter Class Name" })
            </div>
            <div class="form-group">
                @Html.LabelFor(g => g.SubjectName, "Subject", new { @class = "h5" })
                @Html.TextBoxFor(g => g.SubjectName, new { @class = "form-control", @placeholder = "Enter Subject Name" })
            </div>
            <div class="form-group">
                @Html.LabelFor(g => g.Color, new { @class = "h5" })
                @Html.TextBoxFor(g => g.Color, new { @class = "form-control", @placeholder = "Your Favorite Color" })
            </div> <br />
            <div>
                <button type="submit" class="btn btn-primary">Create Class</button>
            </div>
        }
    </div>  
</div>

