@model IEnumerable<ProjectEacademy.Models.StudentGroupViewModels>

@{
    ViewBag.Title = "StudentGroupView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .box-show {
        margin: 1px;
        -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
    }

</style>

<h2>All Class</h2>
<hr />

<div class="row">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card text-center box-show">
                    <h6 class="card-header text-primary font-weight-bold">Class: @Html.DisplayFor(modelItem => item.ClassName) </h6>
                    <div class="card-body">
                        <h6 class="card-title font-weight-bold">Subject: @Html.DisplayFor(modelItem => item.SubjectName) </h6>
                        <h6 class="card-title font-weight-bold">Teacher: @Html.DisplayFor(modelItem => item.TeacherName) </h6>
                    </div>
                </div>
            </div>
        }
    } else
    {
        <h4>You haven't join any class yet.</h4>
    }
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>*@
