@model ProjectEacademy.Models.TeacherGroupDetailViews
@{
    ViewBag.Title = "TeacherGroupDetailView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TeacherGroupDetailView</h2>
@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/Account/Login");
}
<h3>Group ID is: <u>@Model.ClassID </u></h3>
<table class="table">
    <tr>
        <th>
            Members in @Model.Classname.Classname Group
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.lstStudent)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>