@model IEnumerable<ProjectEacademy.Models.TeacherViewPost>

@{
    ViewBag.Title = "TeacherViewPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teacher View Post</h2>

@Html.ActionLink("Create Post", "TeacherGroupView", controllerName: "Group")

<table class="gridtable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        <th>Total Files</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                @if (item.FileDetails.Count() == 0)
                {
                    <span>No File</span>
                }
                else {
                    foreach (var file in item.FileDetails)
                    {
                        <a href="/User/Download/?p=@(file.Id + file.Extension)&d=@file.FileName">@file.FileName</a>
                    }
                }
            </td>
        </tr>
    }
</table>

